<div class="wrapper mt-lg-5" id="cv">
  <div class="sidebar-wrapper">
    <div class="profile-container">
      <h1 class="name">Matias Torrejón</h1>
      <h3 class="tagline">Developer</h3>
    </div>
    <!--//profile-container-->

    <div class="contact-container container-block">
      <ul class="list-unstyled contact-list">
        <li class="email">
          <i class="fas fa-envelope"></i
          ><a href="mailto: yourname@email.com"
            >matiastorrejonconsterla<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@gmail.com</a
          >
        </li>
        <li class="phone">
          <i class="fas fa-phone"></i
          ><a href="tel:0123 456 789">+56946183828</a>
        </li>
        <!-- <li class="website"><i class="fas fa-globe"></i><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/orbit-free-resume-cv-bootstrap-theme-for-developers/" target="_blank">portfoliosite.com</a></li> -->
        <li class="linkedin">
          <i class="fab fa-linkedin-in"></i
          ><a href="#" target="_blank">linkedin.com/in/mtcli</a>
        </li>
        <li class="github">
          <i class="fab fa-github"></i
          ><a href="#" target="_blank">github.com/MatiasCloud</a>
        </li>
        <!-- <li class="twitter"><i class="fab fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li> -->
      </ul>
    </div>
    <!--//contact-container-->
    <div class="education-container container-block">
      <h2 class="container-block-title">Educación</h2>
      <div class="item">
        <h4 class="degree">Ingeniería en informática</h4>
        <h5 class="meta">Universidad de Playa Ancha</h5>
        <div class="time">2016 - 2021</div>
      </div>
      <!--//item-->
      <!-- <div class="item">
              <h4 class="degree">BSc in Applied Mathematics</h4>
              <h5 class="meta">Bristol University</h5>
              <div class="time">2012 - 2016</div>
          </div>//item -->
    </div>
    <!--//education-container-->

    <div class="languages-container container-block">
      <h2 class="container-block-title">Idiomas</h2>
      <ul class="list-unstyled interests-list">
        <li>Español <span class="lang-desc">(Nativo)</span></li>
        <li>Inglés <span class="lang-desc">(A1)</span></li>
      </ul>
    </div>
    <!--//interests-->

    <div class="interests-container container-block">
      <h2 class="container-block-title">Conocimientos</h2>
      <ul class="list-unstyled interests-list">
        <li>Python & Flask</li>
        <li>C#, Windows Forms y Net Core</li>
        <li>Angular, Ionic & Node.js</li>
        <li>HTML5 & CSS</li>
        <li>PHP</li>
        <li>GIT</li>
        <li>PostgreSQL, MySQL & MongoDB</li>
      </ul>
    </div>
    <!--//interests-->
  </div>
  <!--//sidebar-wrapper-->

  <div class="main-wrapper">
    <section class="section summary-section">
      <h2 class="section-title">
        <span class="icon-holder"><i class="fas fa-user"></i></span>Perfil
      </h2>
      <div class="summary">
        <p>
          Ingeniero Informático. Me gusta el desarrollo web, la enseñanza,
          trabajo bien en equipo, me adapto a nuevas tareas, comprometido con el
          objetivo de los proyectos, e interesado en la actualización continua
          de conocimientos, nuevas tecnologías y soluciones.
        </p>
      </div>
      <!--//summary-->
    </section>
    <!--//section-->

    <section class="section experiences-section">
      <h2 class="section-title">
        <span class="icon-holder"><i class="fas fa-briefcase"></i></span
        >Experiencia Laboral
      </h2>

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">INGENIERO DESARROLLADOR</h3>
            <div class="time">DIC. 2021 - HOY</div>
          </div>
          <!--//upper-row-->
          <div class="company">TGT GROUP, REMOTO</div>
        </div>
        <!--//meta-->
        <div class="details">
          <p>
            Desarrollo y documentación de aplicaciones:
            <br />
          </p>

          <ul>
            <li>
              Creación y soporte proyectos asociados a entidad financiera con
              Angular y Net Core. Uso de Bases de datos PostgreSQL y MongoDB.
              Cliente Confuturo
            </li>
            <li>
              Soporte y creanción de nuevas funcionalidades en proyectos
              asociados a institucion de Salud Previsional con Windows Forms y
              Oracle. Cliente Isapre Banco Estado
            </li>
          </ul>
        </div>
        <!--//details-->
      </div>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">PROGRAMADOR FREELANCE</h3>
            <div class="time">OCT. 2021 – NOV. 2021</div>
          </div>
          <div class="company">CLIENTE INDIVIDUAL</div>
        </div>
        <div class="details">
          <p>
            Desarrollo e integración de sistemas:

            <br />
          </p>

          <ul>
            <li>Implementación de pasarela de pago usando FLOW API con PHP.</li>
            <li>
              Interactividad de vistas y consumo de Datos usando FETCH con
              Vanilla Javascript, Backend PHP y MYSQL.
            </li>
          </ul>
        </div>
        <!--//details-->
      </div>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">ANALISTA PROGRAMADOR</h3>
            <div class="time">FEB. 2021 – JUN. 2021</div>
          </div>
          <!--//upper-row-->
          <div class="company">ALPATECH SPA, LIMACHE</div>
        </div>
        <!--//meta-->
        <div class="details">
          <p>
            Desarrollo y soporte de aplicaciones web con sus respectivas
            tecnologías:
            <br />
          </p>

          <ul>
            <li>
              Panel Administrativo con funcionalidad de ERP usando Ionic con
              angular, Bootstrap, nodejs con MYSQL Y Flask para conectar con
              datos de Google Analytics y API de WordPress de la página web de
              la empresa, Firebase y Heroku como servicios cloud.
            </li>
            <li>
              Puntos de venta usando Ionic con angular y nodejs con MYSQL. o
              Soporte a páginas web de la empresa usando Php con Ajax y Smarty.
            </li>
          </ul>
        </div>
        <!--//details-->
      </div>
      <!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">TUTOR PACE</h3>
            <div class="time">JUN. 2019 – JUL. 2020</div>
          </div>
          <!--//upper-row-->
          <div class="company">UNIVERSIDAD DE PLAYA ANCHA, SAN FELIPE</div>
        </div>
        <!--//meta-->
        <div class="details">
          <p>
            Entregar y trabajar conocimientos de programación e informática y
            ciencias de la ingeniería con estudiantes de primer año de
            Ingeniería en Informática en la Universidad de Playa Ancha.
          </p>
        </div>
        <!--//details-->
      </div>
      <!--//item-->

      <!-- <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">DIFUSIÓN</h3>
            <div class="time">MAR. 2019 – ENE. 2020</div>
          </div>
          <div class="company">UNIVERSIDAD DE PLAYA ANCHA, San Felipe</div>
        </div>
        <div class="details">
          <p>
            Difundir información de carreras profesionales, técnicas y procesos
            relacionados con la admisión y selección de estudiantes de la
            Universidad de Playa Ancha en ferias de educación superior o
            colegios.
          </p>
        </div>
      </div> -->
    </section>
    <br />
    <br />
    <br />
    <!--//section-->

    <!-- <section class="section projects-section">
          <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>
          <div class="intro">
              <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
          </div>
          <div class="item">
              <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-5-startup-template-for-software-projects/" target="_blank">CoderPro</a></span> - <span class="project-tagline">A responsive website template designed to help developers launch their software projects. </span>

          </div>
          <div class="item">
              <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-5-template-for-saas-businesses/" target="_blank">Launch</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services.</span>
          </div>
          <div class="item">
              <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-5-vcard-portfolio-template-for-software-developers/" target="_blank">DevCard</a></span> - <span class="project-tagline">A portfolio website template designed for software developers.</span>
          </div>
          <div class="item">
              <span class="project-title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/bootstrap-template-for-mobile-apps-nova-pro/" target="_blank">Nova Pro</a></span> - <span class="project-tagline">A responsive Bootstrap theme designed to help app developers promote their mobile apps</span>
          </div>
          <div class="item">
              <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> -
              <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
          </div>
      </section>//section -->

    <!-- <section class="skills-section section">
      <h2 class="section-title">
        <span class="icon-holder"><i class="fas fa-rocket"></i></span
        >Conocimientos
      </h2>
      <div class="skillset">
        <div class="item">
          <h3 class="level-title">Python &amp; Flask</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 80%"
              aria-valuenow="99"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">Javascript</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 100%"
              aria-valuenow="98"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">Angular, Ionic &amp; Node.js</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 98%"
              aria-valuenow="98"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">HTML5 &amp; CSS</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 88%"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">PHP &amp; JAVA</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">GIT</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="item">
          <h3 class="level-title">MYSQL &amp; MONGODB</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </section> -->
  </div>
  <!--//main-body-->
</div>
<button [useExistingCss]="true" printSectionId="cv" ngxPrint>print</button>

<!-- <footer class="footer">
  <div class="text-center">

      <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
  </div>
</footer>//footer -->
