/* You can add global styles to this file, and also import other style files */
.sidebar-wrapper {
  background: #307298;
  position: absolute;
  left: 0 !important;
  width: 240px;
  height: 100%;
  min-height: 800px;
  color: #fff;
}
.main-wrapper {
  background: #fff;
  padding: 60px;
  padding-left: 300px !important;
}

.avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
p {
  text-align: justify !important;
  line-height: 1.5;
}

